<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Task firebase Node</title>
   <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/lumen/bootstrap.min.css" rel="stylesheet" integrity="sha384-715VMUUaOfZR3/rWXZJ9agJ/udwSXGEigabzUbJm2NR4/v5wpDy8c14yedZN6NL7" crossorigin="anonymous">
   <link rel="stylesheet" href="style.css">

</head>
<body>
   
   {{!-- solo esto va a cambiar --}}
   <div class="container p-4">
      <div class="row">
         {{{body}}}
      </div>
   </div>

</body>
</html>